body {
    background-image: url(../images/background-pic.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: rgb(243,243,243);
}

#title {
    text-align: center;
    line-height: 20px;
    margin: 50px auto;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 40px;
}

#title p {
    font-size: 20px;
}